body {
    width: 100%;
    height: 100%;
    margin: 0;
    background: #5f5f5f;
}

#titre {
    width: 100%;
    text-align: center;
    font-size: 70px;
    color: sienna;
    font-weight: bold;
    font-family: Perpetua, sans-serif;
    background: #9b9b9b;
}

#niveaux {
    display: flex;
    flex-direction: column;
    place-items: center;
    width: 100%;
    height: 100%;
}

#niveaux h1 {
    margin-top: 100px;
    margin-bottom: 100px;
    color: #00c300;
    font-family: Castellar, serif;
}

#niveaux input {
    display: flex;
    justify-content: center;
    place-items: center;
    width: 220px;
    height: 80px;
    margin: 20px;
    background: rgb(55, 55, 55);
    color: white;
    font-size: 45px;
    border-radius: 25px;
    border: ridge 10px #a5a5a5;
    font-family: "Adobe Devanagari", serif;
}

#jeux {
    display: none;
}

#le_pendu {
    margin: 30px auto auto;
    border: #8c8c8c ridge 10px;
    width: 400px;
    height: 400px;
    background: #b9b9b9;
}

#socle {
    width: 150px;
    border: 2px solid black;
    float: right;
    margin-right: 20px;
    margin-top: 350px;
}

#perdu_1 {
    display: none;
    height: 250px;
    width: 0;
    border: 2px solid black;
    float: right;
    margin-top: 100px;
    margin-right: -75px;
}

#perdu_2 {
    display: none;
    width: 100px;
    border: 2px solid black;
    float: right;
    margin-top: 100px;
    margin-right: -71px;
}

#perdu_3 {
    display: none;
    width: 0;
    height: 40px;
    border: 1px solid black;
    float: right;
    margin-top: 100px;
}

#perdu_4 {
    display: none;
    width: 40px;
    height: 40px;
    border: 1px solid black;
    border-radius: 50px;
    float: right;
    margin-top: 140px;
    margin-right: -21px;
}

#perdu_5 {
    display: none;
    border: 0.5px solid black;
    float: right;
    width: 0;
    height: 100px;
    margin-top: 180px;
    margin-right: -21px;
}

#perdu_6 {
    display: none;
    border: 0.5px solid black;
    float: right;
    width: 0;
    height: 45px;
    transform: rotate(45deg);
    margin-top: 180px;
    margin-right: -36px;
}

#perdu_7 {
    display: none;
    border: 0.5px solid black;
    float: right;
    width: 0;
    height: 45px;
    transform: rotate(135deg);
    margin-top: 180px;
    margin-right: -6px;
}

#perdu_8 {
    display: none;
    border: 0.5px solid black;
    float: right;
    width: 0;
    height: 45px;
    transform: rotate(-45deg);
    margin-top: 271px;
    margin-right: -37px;
}

#perdu_9 {
    display: none;
    border: 0.5px solid black;
    float: right;
    width: 0;
    height: 45px;
    transform: rotate(-135deg);
    margin-top: 271px;
    margin-right: -5px;
}

#lettre_a_trouver {
    text-align: center;
    margin: 25px auto auto;
    font-size: 40px;
    color: indigo;
    background: #8c8c8c;
    width: 400px;
    border-radius: 25px;
    border: ridge grey 5px;
    font-weight: bold;
    font-family: Georgia, sans-serif;
}

#clavier {
    margin-top: 25px;
    background: #232323;
    width: 100%;
    min-height: 200px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#clavier tr {
    max-width: 1100px;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px
}

#clavier tr td {
    display: flex;
    justify-content: center;
    place-items: center;
    background: #141414;
    color: white;
    font-family: 'Arial Black',sans-serif;
    border: outset 2px darkgrey;
    border-radius: 5px;
    width: 70px;
    height: 70px;
    margin: 5px;
    font-size: 25px;
    cursor: pointer;
}


#mot {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 25px;
}

#mot tr {
    width: 100%;
    display: flex;
    justify-content: center;
}

#mot td {
    margin-left: 10px;
    margin-right: 10px;
    border-bottom:2px solid #00c300;
    width: 50px;
    text-align: center;
}


#mot p{
    width: 50px;
    font-size: 40px;
    margin-bottom: -10px;
    color: #00c300;
    font-family: "Bodoni MT", fantasy;
    font-weight: bold;
    visibility: hidden;
}



#gagner, #perdu {
    display: none;
    flex-direction: column;
    place-items: center;
    margin-top: 50px;
    font-size: 50px;
}

#gagner input, #perdu input {
    display: flex;
    justify-content: center;
    place-items: center;
    width: 220px;
    height: 80px;
    margin: 20px;
    background: rgb(55, 55, 55);
    color: white;
    font-size: 45px;
    border-radius: 25px;
    border: ridge 10px #a5a5a5;
    font-family: "Adobe Devanagari", serif;
}